<!DOCTYPE html>
<html>
    <head>
      <title>Appuuzzz</title>
      <link rel="icon" href="../static/img/date.png">
    </head>

    <body bgcolor="black" style="color: cornsilk;"></body>
      <center>
      <h1>Nanguneri Festival 📅 </h1>
      <p>Don't Miss the Car festival in Nanguneri,Tirunelveli-627108</p>  
      </center>

      <hr>
      <p>Nanguneri is a panchayat town in Tirunelveli district in the Indian state of Tamil Nadu.Nanguneri is a Taluk Headquarters in the District of Tirunelveli situated at a distance of 18 miles (29 km) from the headquarters of the District. Vanamamalai Perumal temple located here, is a Vaishnavite Shrine also known as Arulmigu Sree Vanamamalai Totatri Perumal Temple or more commonly known as Totadri Mutt.
       </p>
       <center>
       <img src="../static/img/55686413.jpg">
       <h1>Nanguneri Gallery</h1>
       <h2>Nanga tha la Gethuu | Irunga Bhai | Vangaa laa</h2>
       <p>As of 2001 India census,[2] Nanguneri had a population of 6,764. Males constitute 49% of the population and females 51%. Nanguneri has an average literacy rate of 76%, higher than the national average of 59.5%: male literacy is 83%, and female literacy is 70%. In Nanguneri, 10% of the population is under 6 years of age.

       </p>
       </center>

       <center>
        <img src="../static/img/OIP (1).jpg">
        <h1>
          <a href="https://www.bing.com/ck/a?!&&p=2a15aa3393355323ffe912593816e942770cf8d214e14f793b392d5975ff3836JmltdHM9MTczNzMzMTIwMA&ptn=3&ver=2&hsh=4&fclid=3f90d136-6472-6076-020d-c50a65df612d&u=a1L2ltYWdlcy9zZWFyY2g_cT1uYW5ndW5lcmkrcGVyaXlhK2t1bGFtJnFwdnQ9bmFuZ3VuZXJpK3Blcml5YStrdWxhbSZGT1JNPUlHUkU&ntb=1
          ">Enga Oruu Kadal</a>
           </h1>
           <h2>Nanga tha la Gethuu | Irunga Bhai | Vangaa laa</h2>
           <p>As of 2001 India census,[2] Nanguneri had a population of 6,764. Males constitute 49% of the population and females 51%. Nanguneri has an average literacy rate of 76%, higher than the national average of 59.5%: male literacy is 83%, and female literacy is 70%. In Nanguneri, 10% of the population is under 6 years of age.
        
        <hr>

        <h2>Contact</h2>
        <h3>9025837685 | appuuzzz@gmail.com</h3>
        <h1>Nanguneri Karan laa</h1>
       </center>

    

    </body>

</html>
